six
cryptography
requests
gTTS
gTTS-token
PyAudio
pyee
SpeechRecognition
tornado
websocket-client
requests-futures
xmlrunner
pyserial
psutil
pocketsphinx
inflection
pillow
python-dateutil
pychromecast
python-vlc
pulsectl
google-api-python-client
fasteners
PyYAML

msm
msk
adapt-parser
padatious
fann2
padaos
precise-runner
petact

# dev setup tools
pep8
